.body{
    background-color: black;
}

.h1{
    height: 200px;
    width: 200px;
    text-align: center;
    font-family: 'Calibri';
    color:gold;
    margin-left: 45%;
}
.h4,ul,p{
    text-align: left;
    margin-left: 3px;
    color:darkgoldenrod;
    font-family: 'Times';
    margin-left: 40%;
}
.p2{
    text-align: left;
    margin-left: 3px;
    color:darkgoldenrod;
    font-family: 'Times';
}
.fin{
    float: center;
    align-items: center;
}